main{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::-webkit-scrollbar{
    display: none;
}
.container{
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
}
table{
    width: 100%;
    height: 100%;
}
.music-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.music-item:hover{
    background-color: var(--semitransparent-background);
}
.album-image-container img{
    height: 3rem;
    border-radius: 5px;
    margin: 0 1rem ;
}
.artists-music-session{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.music-index{
    margin: 1rem;
}
.music-name{
    display: flex;
    justify-content: start;
}
.artists-music-session p{
    display: flex;

    gap: 10px;
    font-size: x-small;
}