a{
    text-decoration: none;
}

main{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::-webkit-scrollbar{
    display: none;
}
.container{
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
}
.playlist-streamer{
    font-size: xx-small;
}
.header-container{
    width: 100%;
    padding: 1.5rem;
    margin: 2rem 0 ;
    background-color: var(--menu-header-background);
    backdrop-filter: blur(5px) opacity(.5);
}
.playlist-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 90%;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        margin: .5rem;
        gap: 1rem;
    }
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .25rem;
}
.playlist-header img{
    height: 10rem;
}
.playlist-header .playlist-description{
    font-size: small;
    text-align: justify;
}


table{
    width: 100%;
}
.music-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.music-item:hover{
    background-color: var(--semitransparent-background);
}
.album-image-container img{
    height: 3rem;
    border-radius: 5px;
    margin: 0 1rem ;
}
.artists-music-session{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.music-index{
    margin: 1rem;
}
.music-name{
    display: flex;
    justify-content: start;
}
.artists-music-session p{
    display: flex;

    gap: 10px;
    font-size: x-small;
}