<div class="send-identify">
    <header>
        <h3>Forget Password</h3>
    </header>
    <div class="container">
        <form (ngSubmit)="sendEmailIdentify()" class="content" [formGroup]="userForm"
            #formDir="ngForm">
            <div class="input-container">
                <input type="text"
                formControlName="identify"
                placeholder="Login / Email">
                <span></span>
                <div class="error-input-validation" *ngIf="identify.invalid && formDir.submitted" >
                    <p *ngIf="identify.errors?.['required']" >Required input</p>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
