input{
    width: 100%;
    height: 2rem;
    background-color: var(--input-colorA);
    padding-left: 5%;
    border-radius: 5px;
    color: var(--text-colorB);
}
input:focus{
    outline: none;
}
.input-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.input-container span{
    width: 100%;
    height: 1px;
    background-color: white;
}
button {
    min-width: 50px;
    min-height: 10px;
    width: 5vw;
    height: 5vh;
    background-color: var(--qua-color);
    border-radius: 5px;
}