.card{
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    width: calc(60vw - 40px );
    max-width: 50rem  ;
    height: calc(90vh - 40px);
    background-color: rgba(91, 91, 91, 0.546);
    border-radius: 40px ;
    z-index: 20;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: scroll;

    @media (max-width: 500px ) {
        width:90vw;
    }
    @media (max-width: 700px) {
        width: 80vw;
    }
}
.streamer-card::-webkit-scrollbar{
    display: none;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.close svg{
    width: 24px;
    height: 24px;
    fill: none;
    stroke-width:2px;
    stroke-linecap:round ;
    stroke-linejoin:round;
    stroke: var(--text-colorB);
    cursor: pointer;
}
.playlists-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    background-color: var(--semitransparent-background);
    height: 12%;
    width: 65%;
    border-radius: 20px;
    padding: 5px;

    @media (max-width: 600px) {
        width: 90%;
    }
}
p{
    font-size: x-small;
}
h5{
    font-size: medium;
}
.playlists-item img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
