main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 250px;
    height: 3vw;
    background-color: var(--input-colorA);
    padding-left: 5%;
    border-radius: 15px;
    color: var(--text-colorB);
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
button {
    width: 5vw;
    height: 5vh;
    background-color: var(--qua-color);
    border-radius: 5px;
}