<main>
    <header>
        <h3>Login</h3>
    </header>
    <div class="container">
        <div class="content">
            <input type="text" [(ngModel)]="userData.identify" name="identification-login" id="identification-login" placeholder="Login / Email">
            <input type="password" [(ngModel)]="userData.password" name="password-login" id="password-login" placeholder="Password">
            <div class="buttons">
                <button (click)="login()">Login</button>
                <button (click)="siginClicked()">Sign In</button>
            </div>
        </div>
    </div>
</main>