:root {
    --pri-color : #7CFFC4;
    --sec-color : #355834;
    --ter-color : #2A4494;
    --qua-color : #F19953;
    --back-colorA: #14281D;
    --back-colorB: #060b0f;
    --back-colorC: #06004a;
    --text-colorA: Black;
    --text-colorB: AliceBlue;
    --input-colorA: rgba(4, 44, 155, 0.2);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--text-colorB);
}

button{
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}

