
*::-webkit-scrollbar{
    display: none;
}
main{
    /* max-width: calc(100vw - 5px);
    max-height: calc(100vh - 60px); */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
    overflow: scroll;
    /* top: 70px; */
    position: relative;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--semitransparent-background);
    width: 100%;
    height: calc(100vh - 75px);
    border-radius: 20px;
}