*{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--text-colorB);
}

button{
    background-color: transparent;

}
.btn{
    min-width: 70px;
    min-height: 10px;
    width: 5vw;
    height: 5vh;
    background-color: var(--qua-color);
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}

