main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 20vw;
    height: 3vw;
    background-color: var(--input-colorA);
    padding-left: 5%;
    border-radius: 15px;
    color: var(--text-colorB);
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
button {
    min-width: 50px;
    min-height: 10px;
    width: 5vw;
    height: 5vh;
    background-color: var(--qua-color);
    border-radius: 5px;
}

.alert {
    position: absolute;
    top: 40px;
    left: 0; right: 0;
    margin: auto;
    min-height: 50px;
    width: 250px;
    background-color: var(--yellow-alert-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

@media screen and (max-width: 450px ) {
    .buttons {
        flex-direction: colucolummn;
    }
}