<main>
    <header>
        <h3>Sign In</h3>
    </header>
    <div class="container">
        <div class="content">
            <input type="text" name="subs-name" id="subs-name" placeholder="Name">
            <input type="email" name="subs-email" id="subs-email" placeholder="Email">
            <input type="date" name="subs-birth" id="subs-birth" placeholder="Birth">
            <input type="password" name="subs-pass" id="subs-pass" placeholder="Password">
            <input type="password" name="subs-repass" id="subs-repass" placeholder="Password">
            <div class="buttons">
                <button>Send</button>
                <button (click)="loginClicked()">Login</button>
            </div>
        </div>
    </div>
</main>