<div class="send-identify">
    <header>
        <h3>Send Password</h3>
    </header>
    <div class="container">
        <form (ngSubmit)="sendEmailIdentify()" class="content" [formGroup]="userForm"
            #formDir="ngForm">
            <div class="input-container">
                <input type="password"
                formControlName="password"
                placeholder="password">
                <span></span>
                <div class="error-input-validation" *ngIf="password.invalid && formDir.submitted" >
                    <p *ngIf="password.errors?.['required']" >Required input</p>
                </div>
            </div>
            <div class="input-container">
                <input type="password"
                formControlName="repassword"
                placeholder="password">
                <span></span>
                <div class="error-input-validation" *ngIf="repassword.invalid && formDir.submitted" >
                    <p *ngIf="repassword.errors?.['required']" >Required input</p>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
