main{
    width: 30vh;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

button{
    width: 90%;
    height: 50px;
    background-color: var(--semitransparent-background);
    border-radius: 20px;
    color: var(--text-colorB);
}


@media screen and (max-width: 768px) {
    main{
        flex-direction: row;
        width: 100vw;
        max-height: 5rem;
        position: fixed;
        bottom: 0;
        background-color: aliceblue;
    }
}