<div class="main-container">
    <div class="container">

        <app-send-identify
        *ngIf="this.page[index]=='identify'"
        (nextPage)="nextPage($event)"    
        />
        <app-send-token
        *ngIf="page[index]=='token'"
        (nextPage)="nextPage($event)"   
        [email]="email" 
        />
        <app-send-password 
        *ngIf="page[index]=='password'" 
        (nextPage)="nextPage($event)"
        [email]="email"
        [token]="token"
        />
    </div>
</div>